.imgIndex{
	width: 100%;
	height: 300px;
}

.view {
	width: 100%;
	height: 400px;
}

* {
	font-family: 'Rokkitt', serif;
}

p {
	font-family: 'PT Sans', sans-serif;
}

.jumbotron {
	background-image: url('../public/images/cover.png');
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.h1 {
	font-size: 70px;
	 text-shadow: 2px 4px #fff;
}

.card {
	border-style: none;
}

.float-left {
	font-size: 25px;
	font-family: 'PT Sans', sans-serif;
}

.badge {
	letter-spacing: 0.1em;
}

th {
	letter-spacing: 0.1em;
	font-size: 18px;
}

strong {
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 0.1em;
}

